---
layout: default
---

<h1><%= data.title %></h1>

<%= yield %>

<button hx-put="/feedback/<%= resource.basename_without_ext %>"
  hx-vals='{"vote_type": "upvote"}'
  hx-target="#tldr-sentiment"
  hx-swap="outerHTML">
  Upvote!
</button>

<button hx-put="/feedback/<%= resource.basename_without_ext %>"
  hx-vals='{"vote_type": "downvote"}'
  hx-target="#tldr-sentiment"
  hx-swap="outerHTML">
  Downvote...
</button>

<br />
<br />

<strong>TLDR Sentiment</strong>
<br />
<br />
<div id="tldr-sentiment">
</div>

<wa-card style="max-width: 60ch; margin: auto">
  <div class="wa-stack">
    <h3 class="wa-heading-l">Comments</h3>
    <wa-textarea aria-label="Comment"></wa-textarea>
    <wa-button variant="brand">Add Comment</wa-button>
    <wa-divider></wa-divider>
    <%= render "comments", filename: resource.basename_without_ext %>
  </div>
</wa-card>

